.project-card {
  color: whitesmoke;
  background: #1c1c1c;
  border: 2px solid transparent;
  transition: transform 0.3s, border-color 0.3s, box-shadow 0.3s;
  border-radius: 16px;
  padding: 1rem;
  
}

.project-card:hover {
  border-color: rgb(245, 244, 245);
  box-shadow: 0 0 15px rgb(243, 245, 248);
  transform: scale(1.02);
  background: #222;
}
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 1.8rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
  }

  .theme-toggle-switch {
    margin-top: 1rem;
  }

  .card {
    margin-bottom: 1rem;
  }
}